<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>vlc</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frontrow.appliance.vlc</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
    
    <key>BRApplianceBlurredIconPath</key>
	<string>vlc.png</string>
	<key>BRApplianceBlurredIconReflectionPath</key>
	<string>vlc.png</string>
	<key>FRApplianceDataSourceType</key>
	<string>All</string>
	<key>FRApplianceIconHorizontalOffset</key>
	<real>0.056599999999999998</real>
	<key>FRApplianceIconKerningFactor</key>
	<real>0.0</real>
	<key>FRApplianceIconReflectionOffset</key>
	<real>-0.12</real>
	<key>FRApplianceIconReflectionPath</key>
	<string>vlc.png</string>
	<key>FRAppliancePreferedOrderValue</key>
	<real>1</real>

	<key>NSPrincipalClass</key>
	<string>VLCAppliance</string>
</dict>
</plist>
