root { 
    display: block;
}
body{
}
#mainContainer{
	text-align: center;
	width: 800px;
}
#controlContainer{
	width: 800px;
}
#libraryContainer{
	width: 800px;
}
#libraryTree{
	height: 300px;
	overflow:scroll;
	white-space: nowrap;
	text-align: left;
}
#viewContainer{
	width: 800px;
}
#mediaViewer{
	min-height: 500px;
}
#player{
	height: 500px;
	width: 500px;
}
#seekSlider{
	width: 90%;
}
#volumeSlider{
	width: 100px;
	display: inline-block;
	margin-bottom: 20px;
}
#currentVolume{
	display: inline-block;
	margin-left: -110px;
}
#mediaTitle{
	text-align: left;
}
#currentTime{
	text-align: left;
}
#totalTime{
	text-align: right;
}
#controlButtons{
	text-align: left;
	width: 380px;
}

#buttonszone{
	width: 42px;
	vertical-align: top;
}

#volumesliderzone{
	margin-left: 20px;
}

#volumeSlider{
	width: 200px;
}

#artszone{
	width: 141px;
	vertical-align: top;
}

#seekContainer{
	vertical-align: bottom;
}

.button48{
	width: 48px;
	height: 48px;
	margin: 5px 0px 5px 2px;
	background: none;
	border: none;
	display: inline-block;
	cursor: pointer;
}
.button{
	cursor: pointer;
	display: inline-block;
}
#buttonOpen{
	background-image: url("../images/button_eject-48.png");
}
#buttonStop{
	background-image: url("../images/button_stop-48.png");
}
#buttonPlay{
	background-image: url("../images/button_play-48.png") ;
}
#buttonPause{
	background-image: url("../images/button_pause-48.png") ;
}
#buttonPrev{
	background-image: url("../images/button_first-48.png") ;
}
#buttonNext{
	background-image: url("../images/button_last-48.png") ;
}
#buttonFull{
	background-image: url("../images/button_full-48.png") ;
}
#buttonSout{
	background-image: url("../images/button_stream-48.png") ;
}
#buttonEQ{
	background-image: url("../images/button-equalizer-48.png") ;
}
#window_browse ol{
	list-style-type: none;
}
#window_browse ol li{
	list-style-type: none;
	float: left;
	padding: 5px;
}
.system_icon{
	width:80px;
	text-align:center;
	vertical-align:top;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
	border: 1px solid #823D0A;
	margin: 2px;
	height: 92px;
	background-color: #E1E1E1;
	overflow: hidden;
}
#window_create_stream table tr td{
	font-size: 11px;
}

#window_equalizer div div{
	text-align: center;
	font-size: 11px;
	padding: 0px;
}
.eqBand{
	margin-bottom: 10px;
	margin-top: 10px;
	height: 400px;
	font-size: 1.5em;
}
.footer{
	text-align: center;
	font-size: 11px;
}

div.centered{
	margin-left: auto;
	margin-right: auto;
}
