private.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4

dvdnav.m4
dvdread.m4
freetype2.m4
glib.m4
gpg-error.m4
inttypes-h.m4
libFLAC.m4
libgcrypt.m4
libgnutls-extra.m4
libgnutls.m4
libxml.m4
ltdl.m4
ogg.m4
pkg.m4
sdl.m4
shout.m4
signed.m4
speex.m4
vorbis.m4

longdouble.m4
