*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.mak
*.moc.cpp
*.o
*.so
*.pc
*.vlt
*.class
*.dmg
.DS_Store
.deps
.libs
.dirstamp
ABOUT-NLS
aclocal.m4
compile
config.status
config.h*
config.log
configure
INSTALL.git
libtool
Makefile
Makefile.in
stamp-*
vlc-config
vlc-config.in
qvlc
rvlc
svlc
cvlc
qvlc
nvlc
wxvlc
vlc
vlc_install_dir/*

# Ignore CMake Stuff
cmake
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
cmake_uninstall.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
