# To modify a submodule's url, ie to use ssh:// instead of git://,
# update the submodule's .git/config file.
# Use "git submodule update --init" to initialize submodules.
# See man git-submodule for more info.

[submodule "bindings/libvlcpp"]
	path = bindings/libvlcpp
	update = rebase
	url = git://git.videolan.org/vlc/bindings/libvlcpp.git
[submodule "bindings/jvlc"]
	path = bindings/jvlc
	update = rebase
	url = git://git.videolan.org/vlc/bindings/jvlc.git
[submodule "bindings/python"]
	path = bindings/python
	update = rebase
	url = git://git.videolan.org/vlc/bindings/python.git
[submodule "bindings/phonon"]
	path = bindings/phonon
	update = rebase
	url = git://gitorious.org/phonon/phonon-vlc.git
