# Email and names Fixes
Jean-Baptiste Kempf <jb@videolan.org>
<jb@videolan.org> <jb@altair.videolan.org>
<jb@videolan.org> <jb@ambre.(none)>
<jb@videolan.org> <jb@sasmira.jbkempf.com>
<jb@videolan.org> <jb@elayne.jbkempf.com>
<jb@videolan.org> <Jean-Baptiste@ambre.(none)>
<jb@videolan.org> <jb@sasmira.(none)>
<rem@videolan.org> <remi.denis-courmont@nokia.com>
<pdherbemont@videolan.org> <steg@nibudy.local>
<dionoea@videolan.org> <antoine@macbook.(none)>
Felix Paul Kühne <fkuehne@videolan.org>
Felix Paul Kühne <fkuehne@videolan.org> <fpk@Bartleby.local>
Felix Paul Kühne <fkuehne@videolan.org> <fpk@Felix-Kuhnes-MacBook.local>
Felix Paul Kühne <fkuehne@videolan.org> <fpk@felix-kuhnes-macbook.local>
<jpsaman@videolan.org> <jpsaman@gandalf.(none)>
<jpsaman@videolan.org> <jpsaman@gandalf.kpn-communicationcentre.nl>
<jpsaman@videolan.org> <jpsaman@m2x.nl>
<xtophe@videolan.org> <xtophe@altair.v.videolan.org>
Rafaël Carré <funman@videolan.org> <fun@kebab.(none)>
<sigmunau@videolan.org> <sigmunau@hobbes.(none)>
<ipkiss@videolan.org> <ipkiss@ulukai.(none)>
Erwan Tulou <erwan10@videolan.org> <brezhoneg1@yahoo.fr>
<jleben@videolan.org> <jakob@leptop.(none)>
<robux@videolan.org> <slhomme@matroska.org>
<robux@videolan.org> <robux4@gmail.com>
<robux@videolan.org> <robux4@robux4-desktop.(none)>
<robux@videolan.org> <steve.lhomme@free.fr>
JP Dinger <jpd@videolan.org> <jpd@m2x.nl>
JP Dinger <jpd@videolan.org> <jpd@dsb.tudelft.nl>
Jean-Philippe André <jpeg@videolan.org> <jpeg@aena.(none)>
Jean-Philippe André <jpeg@videolan.org> <jpeg@via.ecp.fr>
Jean-Philippe André <jpeg@videolan.org> <jpeg@endymion.via.ecp.fr>
Jean-Philippe André <jpeg@videolan.org> <JPeg@videolan.org>
Jean-Philippe André <jpeg@videolan.org> <jpeg@aena.via.ecp.fr>
Sébastien Escudier <sebastien-devel@celeos.eu>
Sébastien Escudier <sebastien-devel@celeos.eu> <sebastien@sebastien-desktop.(none)>
Éric Lassauge <lassauge@users.sourceforge.net>
Éric Lassauge <lassauge@users.sourceforge.net> <lassauge {AT} users {dot} sourceforge {dot} net>
Éric Lassauge <lassauge@users.sourceforge.net> <gozer@progrock.com>
Mirsal Ennaime <mirsal@mirsal.fr> <mirsal.ennaime@gmail.com>
<mirsal@mirsal.fr> <mirsal@mirsal-laptop.(none)>
Pankaj Yadav <pankajdnapster@gmail.com>
<pankajdnapster@gmail.com> <pk@videolan.org>
Pankaj Yadav <pankajdnapster@gmail.com> <pk@pk-desktop.(none)>
Jean-François Massol <jf.massol@gmail.com>
<jf.massol@gmail.com> <jf@debian.(none)>
Benjamin Poulain <ikipou@gmail.com>
Basos G <noxelia@gmail.com>
Basos G <noxelia@gmail.com> <noxelia 4t gmail , com>
Basos G <noxelia@gmail.com> <noxelia 4t gmail d0t c0m>
Basos G <noxelia@gmail.com> <noxelia 4t gmail c0m>
<srikiraju@gmail.com> <srikiraju at gmail dot com>
<dmenest-vlc@ofb.net> <dmenest-vlc at ofb dot net>
<kelemeng@gnome.hu> <kelemeng at gnome dot hu>
<tkrotoff@gmail.com> <tkrotoff at>
<aurelien@sitadelle.com> <aurelien sitadelle.com>
#
# Preferred emails
<malte@tancred.com.> <malte@frontbase.com>
