# Bad (and bouncing) emails and names
Jean-Baptiste Kempf <jb@videolan.org>
<jb@videolan.org> <jb@altair.videolan.org>
<jb@videolan.org> <jb@ambre.(none)>
<jb@videolan.org> <jb@sasmira.jbkempf.com>
<jb@videolan.org> <jb@elayne.jbkempf.com>
<jb@videolan.org> <Jean-Baptiste@ambre.(none)>
<jb@videolan.org> <jb@sasmira.(none)>
Jean-Baptiste Kempf <jb@videolan.org> U-AMBRE\Jean-Baptiste <Jean-Baptiste@ambre.(none)>
Jean-Baptiste Kempf <jb@videolan.org> U-SASMIRA\jb <jb@sasmira.(none)>
<remi@remlab.net> <remi.denis-courmont@nokia.com>
<remi@remlab.net> <rdenis@simphalempin.com>
<remi@remlab.net> <rem@videolan.org>
<pdherbemont@videolan.org> <steg@nibudy.local>
<dionoea@videolan.org> <antoine@macbook.(none)>
Felix Paul Kühne <fkuehne@videolan.org>
<fkuehne@videolan.org> <fpk@Bartleby.local>
<fkuehne@videolan.org> <fpk@Felix-Kuhnes-MacBook.local>
<fkuehne@videolan.org> <fpk@felix-kuhnes-macbook.local>
<fkuehne@videolan.org> <felix@serioese.gmbh>
<fkuehne@videolan.org> <felix@feepk.net>
<jpsaman@videolan.org> <jpsaman@gandalf.(none)>
<jpsaman@videolan.org> <jpsaman@gandalf.kpn-communicationcentre.nl>
<jpsaman@videolan.org> <jpsaman@m2x.nl>
<xtophe@videolan.org> <xtophe@altair.v.videolan.org>
Rafaël Carré <funman@videolan.org> <fun@kebab.(none)>
<sigmunau@videolan.org> <sigmunau@hobbes.(none)>
<ipkiss@videolan.org> <ipkiss@ulukai.(none)>
Erwan Tulou <erwan10@videolan.org> <brezhoneg1@yahoo.fr>
Erwan Tulou <erwan10@videolan.org> erwan <erwan@erwan-VirtualBox.(none)>
<jleben@videolan.org> <jakob@leptop.(none)>
<robux@videolan.org> <slhomme@matroska.org>
<robux@videolan.org> <robux4@gmail.com>
<robux@videolan.org> <robux4@robux4-desktop.(none)>
<robux@videolan.org> <steve.lhomme@free.fr>
JP Dinger <jpd@videolan.org> <jpd@m2x.nl>
JP Dinger <jpd@videolan.org> <jpd@dsb.tudelft.nl>
Jean-Philippe André <jpeg@videolan.org> <jpeg@aena.(none)>
Jean-Philippe André <jpeg@videolan.org> <jpeg@via.ecp.fr>
Jean-Philippe André <jpeg@videolan.org> <jpeg@endymion.via.ecp.fr>
Jean-Philippe André <jpeg@videolan.org> <JPeg@videolan.org>
Jean-Philippe André <jpeg@videolan.org> <jpeg@aena.via.ecp.fr>
Sébastien Escudier <sebastien-devel@celeos.eu>
Sébastien Escudier <sebastien-devel@celeos.eu> <sebastien@sebastien-desktop.(none)>
Éric Lassauge <lassauge@users.sourceforge.net>
Éric Lassauge <lassauge@users.sourceforge.net> <lassauge {AT} users {dot} sourceforge {dot} net>
Éric Lassauge <lassauge@users.sourceforge.net> <gozer@progrock.com>
Mirsal Ennaime <mirsal@mirsal.fr> <mirsal.ennaime@gmail.com>
<mirsal@mirsal.fr> <mirsal@mirsal-laptop.(none)>
Pankaj Yadav <pankajdnapster@gmail.com>
<pankajdnapster@gmail.com> <pk@videolan.org>
Pankaj Yadav <pankajdnapster@gmail.com> <pk@pk-desktop.(none)>
Jean-François Massol <jf.massol@gmail.com>
<jf.massol@gmail.com> <jf@debian.(none)>
Benjamin Poulain <ikipou@gmail.com>
Basos G <noxelia@gmail.com>
Basos G <noxelia@gmail.com> <noxelia 4t gmail , com>
Basos G <noxelia@gmail.com> <noxelia 4t gmail d0t c0m>
Basos G <noxelia@gmail.com> <noxelia 4t gmail c0m>
<srikiraju@gmail.com> <srikiraju at gmail dot com>
<dmenest-vlc@ofb.net> <dmenest-vlc at ofb dot net>
<kelemeng@gnome.hu> <kelemeng at gnome dot hu>
<tkrotoff@gmail.com> <tkrotoff at>
Aurélien Nephtali <aurelien@sitadelle.com> <aurelien sitadelle.com>
Aurélien Nephtali <aurelien.nephtali@gmail.com>
Konstanty Bialkowski <konstanty@ieee.org> <konstanty@gmail.com>
Pavlov Konstantin <thresh@videolan.org>
<thresh@videolan.org> <thresh@altlinux.ru>
Pavlov Konstantin <thresh@videolan.org> <thresh@altlinux.org>
<videolan@videolan.org> <videolan@jones.via.ecp.fr>
<videolan@videolan.org> <noreply@videolan.org>
<jpountz@jpountz.net> <jpountz@videolan.org>
<atmo@videolan.org> <WeberAndre@gmx.de>
Bill C. Riemers <briemers+git@redhat.com> <docbill@hartnell.local>
Brad Smith <brad@comstyle.com>
<cristi@secarica.ro> <cristi.secarica.ro>
<davidf@rd.bbc.co.uk> <davidf+nntp@woaf.net>
<davidf@rd.bbc.co.uk> <davidf@woaf.net>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <hugo@beauzee.fr>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <beauze.h@gmail.com>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <chouquette@videolan.org>
<markfm@videolan.org> <mfmbusiness@earthlink.net>
<markfm@videolan.org> <mfmori@hotmail.com>
Nicolas Chauvet <kwizart@gmail.com>
Rob Jonson <rob@hobbyistsoftware.com>
Sigmund Augdal Helberg <sigmunau@videolan.org>
Sigmund Augdal Helberg <sigmunau@videolan.org> Sigmund Augdal <sigmund@snap.tv>
Sigmund Augdal Helberg <sigmunau@videolan.org> Sigmund Augdal <sigmunau@hobbes.(none)>
Vincent Penquerc'h <ogg.k.ogg.k@googlemail.com>
Anthony Loiseau <anthony.loiseau@gmail.com> <thannoy@actech-innovation.com>
FUJISAWA Tooru <arai_a@mac.com>
Ken Self <kenself@optusnet.com.au>
Tony Gaillard <tony.gaillard@supinfo.com> <Tony.GAILLARD@supinfo.com>
Przemyslaw Fiala <bl4@playker.info>
Marián Hikaník <podnety@mojepreklady.net>
Michael McEll <mapei_@hotmail.com>
Marian Ďurkovič <md@bts.sk>
Marian Ďurkovič <md@bts.sk> Marian Durkovic <md@videolan.org>
#Maybe switch to the videolan address?
Dylan Yudaken <dyudaken@gmail.com>
Martin T. H. Sandsmark <sandsmark@samfundet.no>
<cyril.mathe@gmail.com> <cmathe@actech-innovation.com>
<riquedafreak@videolan.org> <enrique.osuna@gmail.com>
<nib9@charter.net> <zaggal69@gmail.com>
Alexander Lakhin <exclusion@gmail.com>
Denis Arnaud <denisarnuad@yahoo.fr>
Éric Lassauge <lassauge@users.sf.net>
Faustino Osuna <riquedafreak@videolan.org>
Faustino Osuna <riquedafreak@videolan.org> Faustino E. Osuna <enrique.osuna@gmail.com>
Mihkel Kirjutas <turakas@gmail.com>
Naohiro Koriyama <nkoriyama@gmail.com>
Predrag Ljubenović <predragljubenovic@gmail.com>
Ajith Manjula Senarathne <uthmax.sms@gmail.com>
Andy Chenee <chenee543216@gmail.com>
<chenee543216@gmail.com> Andy Chenee <chenee@hhcn.com>
Dominko Azdajic <domazd@mail.ru> Dominko Aždajić <domazd@web.de>
Jérôme Decoodt <djc@videolan.org>
Jérôme Decoodt <djc@videolan.org> Jérôme Decoodt <djc+git@videolan.org>
Matej Urbančič <mateju@svn.gnome.org> Matej Urban <matej.urban@gmail.com>
Xabier Aramendi <azpidatziak@gmail.com>
Gwenole Beauchesne <gb.devel@gmail.com> <gbeauchesne@splitted-desktop.com>
Frédéric Yhuel <fyhuel@viotech.net>
Ming Hu <tewilove@gmail.com>
Kuan-Chung Chiu <buganini@gmail.com>
Cédric Cocquebert <cedric.cocquebert@cea.fr>
François Cartegnie <fcvlcdev@free.fr>
Jean-Paul Saman <jpsaman@videolan.org>
Jean-Paul Saman <jpsaman@videolan.org> jpsaman@m2x.nl <jpsaman@m2x.nl>
Jean-Paul Saman <jpsaman@videolan.org> Jean-Paul Saman <jean-paul.saman@m2x.nl>
Samuel Hocevar <sam@videolan.org>
Samuel Hocevar <sam@videolan.org> Sam Hocevar <sam@zoy.org>
Samuel Hocevar <sam@videolan.org> Sam Hocevar <sam@hocevar.net>
Yannick Bréhon <y.brehon@qiplay.com>
Rui Zhang <bbcallen@gmail.com>
Ronald Wright <logiconcepts819@gmail.com> Ron Wright <logiconcepts819@gmail.com>
Clément Lecigne <clemun@gmail.com> Clement Lecigne <clecigne@google.com>
Siarhei Daryichau Дар'ічаў Сяргей <charnabog@gmail.com>
#
# Preferred emails
<malte@tancred.com> <malte@frontbase.com>
<xtophe@videolan.org> <xtophe@chewa.net>
<hartman@videolan.org> <hartman@veda.student.utwente.nl>
<etix@videolan.org> <etix@l0cal.com>
<steven@m20.nl> <skramer@inbeeld.eu>
<jarmo.torvinen@iki.fi> <jarmo.torvinen@jutel.fi>
