# Ignore install path
share/*
bin/*
lib/*
include/*
man/*
sbin/*
etc/*
gecko-sdk/*
*.bak
# Ignore fetched contrib
src/*
# But not our files
!src/Distributions
!src/Patches
!src/package.mak
!src/Makefile
