# Ignore install path
build
hosts
translations
demos
examples
mkspecs
phrasebooks
*.xml
*.tar.bz2
*.bak
toolchain.cmake
# Ignore fetched contrib
src/*
# But not our files
!Makefile
!src/Distributions/*
!src/Patches
!src/packages.mak
!src/Makefile
