//
//  vlc.xcconfig
//  VLC
//
//  Created by Pierre d'Herbemont on 6/26/10.
//  Copyright 2010 __MyCompanyName__. All rights reserved.
//


VLC_SRC_DIR=$(PROJECT_DIR)/../../..
VLC_ARCH[sdk=iphonesimulator*]=i686
VLC_ARCH[sdk=iphoneos*]=arm
VLC_PLATFORM[sdk=iphonesimulator*]=Simulator
VLC_PLATFORM[sdk=iphoneos*]=OS
VLC_INSTALL_DIR=$(VLC_SRC_DIR)/install-ios-$(VLC_PLATFORM)

//OTHER_CFLAGS= -ObjC -all_load
#include "vlc-plugins.xcconfig"

VLC_CONTRIB_DIR=$VLC_SRC_DIR/contrib/$(VLC_ARCH)-apple-darwin11
DVBPSI=$(VLC_CONTRIB_DIR)/lib/libdvbpsi.a
AVCODEC=$(VLC_CONTRIB_DIR)/lib/libavutil.a ${VLC_CONTRIB_DIR}/lib/libavcodec.a $(VLC_CONTRIB_DIR)/lib/libavformat.a $(VLC_CONTRIB_DIR)/lib/libswscale.a $(VLC_CONTRIB_DIR)/lib/libpostproc.a $(VLC_CONTRIB_DIR)/lib/libgsm.a
LIVE555=$(VLC_CONTRIB_DIR)/lib/libUsageEnvironment.a $(VLC_CONTRIB_DIR)/lib/libBasicUsageEnvironment.a $(VLC_CONTRIB_DIR)/lib/libgroupsock.a $(VLC_CONTRIB_DIR)/lib/libz.a $(VLC_CONTRIB_DIR)/lib/libliveMedia.a
FLAC=$(VLC_CONTRIB_DIR)/lib/libFLAC.a
A52=$(VLC_CONTRIB_DIR)/lib/liba52.a
DCA=$(VLC_CONTRIB_DIR)/lib/libdca.a
MKV=$(VLC_CONTRIB_DIR)/lib/libebml.a $(VLC_CONTRIB_DIR)/lib/libmatroska.a
MODPLUG=$(VLC_CONTRIB_DIR)/lib/libmodplug.a
SPEEX=$(VLC_CONTRIB_DIR)/lib/libspeex.a $(VLC_CONTRIB_DIR)/lib/libspeexdsp.a
TAGLIB=$(VLC_CONTRIB_DIR)/lib/libtag.a
OGG=$(VLC_CONTRIB_DIR)/lib/libogg.a $(VLC_CONTRIB_DIR)/lib/libtheora.a $(VLC_CONTRIB_DIR)/lib/libtheoradec.a $(VLC_CONTRIB_DIR)/lib/libtheoraenc.a
XML=$(VLC_CONTRIB_DIR)/lib/libxml2.a
PICS=$(VLC_CONTRIB_DIR)/lib/libpng.a $(VLC_CONTRIB_DIR)/lib/libopenjpeg.a

OTHER_LIBTOOLFLAGS=$(AVCODEC) $(DVBPSI) $(LIVE555) $(MODPLUG) $(A52) $(DCA) $(MKV) $(TAGLIB) $(XML) $(PICS) $(VLC_INSTALL_DIR)/lib/vlc/libcompat.a  $(VLC_INSTALL_DIR)/lib/libvlc.a $(VLC_INSTALL_DIR)/lib/libvlccore.a $(VLC_PLUGINS_LDFLAGS)
