Source: python-vlc
Section: contrib/libs
Priority: optional
Maintainer: Jason Scheunemann <jason.scheunemann@yahoo.com>
Build-Depends: cdbs, debhelper (>= 7), python-central (>=0.5.6), python-setuptools, python-dev, libvlc-dev (>= 1.0.0)
XS-Python-Version: 2.5
Standards-Version: 3.8.0
Homepage: http://wiki.videolan.org/PythonBinding

Package: python-vlc
Architecture: any
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends}, vlc (>= 1.0.0)
Description: VLC bindings for python.
 VLC bindings for python.
