//Microsoft Developer Studio generated resource script.
//
#define WINCE_RESOURCE
#include "wince.h"

#if !defined(UNDER_CE)
#define UNDER_CE _WIN32_WCE
#endif

#if !defined(_WIN32_WCE)
#define _WIN32_WCE UNDER_CE
#endif

#define _WIN32_IE 0x0501
#include <commctrl.h>

#ifdef RC_INVOKED
#ifndef _INC_WINDOWS
#define _INC_WINDOWS
    #include "winuser.h" // extract from windows header
#endif
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Menubar
//

#if defined(UNDER_CE) // Menus are dynamically built on Win32
IDR_MENUBAR MENU DISCARDABLE 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "View"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Settings"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Audio"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Video"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Nav"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
END

IDR_MENUBAR2 MENU DISCARDABLE 
BEGIN
    POPUP "Manage"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Sort"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
    POPUP "Selection"
    BEGIN
        MENUITEM "Empty",                       ID_EMPTY, GRAYED
    END
END
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Data
//

IDR_MENUBAR RCDATA DISCARDABLE 
BEGIN
    IDR_MENUBAR, 6,
    I_IMAGENONE, IDM_FILE, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_FILE, IDM_FILE, 0,
    I_IMAGENONE, IDM_VIEW, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_VIEW, IDM_VIEW, 1,
    I_IMAGENONE, IDM_SETTINGS, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_SETTINGS, IDM_SETTINGS, 2,
    I_IMAGENONE, IDM_AUDIO, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_AUDIO, IDM_AUDIO, 3,
    I_IMAGENONE, IDM_VIDEO, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_VIDEO, IDM_VIDEO, 4,
    I_IMAGENONE, IDM_NAVIGATION, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_NAVIGATION, IDM_NAVIGATION, 5
END

IDR_MENUBAR2 RCDATA DISCARDABLE 
BEGIN
    IDR_MENUBAR2, 3,
    I_IMAGENONE, IDM_MANAGE, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_MANAGE, IDM_MANAGE, 0,
    I_IMAGENONE, IDM_SORT, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_SORT, IDM_SORT, 1,
    I_IMAGENONE, IDM_SEL, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDM_SEL, IDM_SEL, 2
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDM_FILE                "File"
    IDM_VIEW                "View"
    IDM_SETTINGS            "Settings"
    IDM_AUDIO               "Audio"
    IDM_VIDEO               "Video"
    IDM_NAVIGATION          "Navigation"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDM_MANAGE              "Manage"
    IDM_SORT                "Sort"
    IDM_SEL                 "Selection"
END

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
#ifdef __MINGW32__
IDI_ICON1               ICON    DISCARDABLE     "bitmaps/vlc16x16.ico"
#else
IDI_ICON1               ICON    DISCARDABLE     "bitmaps\\vlc16x16.ico"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

#ifdef __MINGW32__
IDB_BITMAP1             BITMAP  DISCARDABLE     "bitmaps/toolbar1.bmp"
IDB_BITMAP2             BITMAP  DISCARDABLE     "bitmaps/toolbar2.bmp"
IDB_BITMAP3             BITMAP  DISCARDABLE     "bitmaps/toolbar3.bmp"
#else
IDB_BITMAP1             BITMAP  DISCARDABLE     "bitmaps\\toolbar1.bmp"
IDB_BITMAP2             BITMAP  DISCARDABLE     "bitmaps\\toolbar2.bmp"
IDB_BITMAP3             BITMAP  DISCARDABLE     "bitmaps\\toolbar3.bmp"
#endif
