/*
 * screen.css
 */

a:link          {color: blue; 
                 text-decoration: underline}

a:active        {color: red;
                 text-decoration: underline}

a:visited       {color: #0005cf;
                 text-decoration: underline}

a:hover         {color: red; 
                 text-decoration: underline}

body            {font-family: "Times New Roman", Georgia, Times; 
                 font-size: 1em; 
                 color: #000000; 
                 background-color: #FFFFFF; 
                 margin: 1em 1em 1em 1em;}

h1               {font-size: 2.4em;
                 font-family: Verdana, Arial, Helvetica, Sans-Serif;
                 margin-top: 0em;
                 margin-bottom: 0.5em;
                 margin-left: 0.5in;
                 margin-right: 0.5in;}

h1.div           {font-size: 1.5em;
                 font-family: Verdana, Arial, Helvetica, Sans-Serif;
                 margin-top: 0em;
                 margin-bottom: 0.5em;
                 margin-left: 0.5in;
                 margin-right: 0.5in;}


h2
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    margin: 0.7em 0 0.7em 0;
    padding: 0.5em 0.7em 0.5em 0.7em;
    font-size: 1.9em;
    text-decoration: none;
    border-bottom: solid #00A 2px;
}

/*
 * Ici on distingue les chapitres des sections
 */

div.sect1 h2
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.3em;
    text-decoration: none;
    border-bottom: solid #00A 2px;
    padding: 0 0 0 0.7em;
}



div.sect2 h3
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: solid #00A 1px;
    padding: 0 0 0 0.7em;
}

div.note h3
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: none;
    padding: 0 0 0 0.7em;
}

h3
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: none;
    padding: 0 0 0 0.7em;
}

h4
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1.1em;
    text-decoration: none ;
    padding: 0 0 0 0.7em;
}

h5
{
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 1em;
    text-decoration: none  ;
    padding: 0 0 0 0.7em;
}


p               {font-size: 1em; 
                 margin: 0em 0em 0.5em 0em;}

p.validator     { text-align: right; }

tt              {font-family: "Courier New";
                 font-size: 0.95em;}
/*                 font-weight: bold;}
*/

hr		{height: 1px;}

.titre          {font-size: 3em;
                 text-align: center;}
.navheader      {}

/* .navfooter      {} */

.revhistory table { border: none; padding: 0px 0px 0px 0px; margin: 1em 0em 1em 0em;}

.revhistory th { border: none; padding: 0px 0px 0px 0px	;}

.revhistory td { border: none; padding: 0px 0px 0px 0px	;}

.highlights { font-style: italic;}

.note { border: 1px solid #CCCC99; 
        background-color: #F5F5E7; 
        padding: 0.5em 0.5em 0.5em 0.5em; 
        margin: 1em 0em 1em 0em; }

.caution { border: 1px solid #F6EA00; 
           background-color: #FFFFC9; 
           padding: 0.5em 0.5em 0.5em 0.5em;  
             margin-top: 1em;
             margin-bottom: 1em;
             margin-left: 0.5in;
             margin-right: 0.5in;}

.tipp { background-color: #F5F5DC }

.important { font-family: "Courier New";
             font-size: 0.8em;
             border: 1px solid #F95E00; 
             background-color: #F9CDB3;
             padding: 0.5em 0.5em 0.5em 0.5em;
             margin-top: 1em;
             margin-bottom: 1em;
             margin-left: 0.5in;
             margin-right: 0.5in;}


.screen { font-family: "Courier New"; 
          font-size: 0.8em; 
          border: 1px solid #999999; 
          background-color: #EBEBEB; 
          padding: 0.5em 0.5em 0.5em 0.5em; 
          margin: 2em 0em 2em 0em;}

.programlisting { font-family: "Courier New";
                  font-size: 0.8em; 
                  border: 1px solid #B2DBFF; 
                  background-color: #F0F8FF; 
                  padding: 0.5em 0.5em 0.5em 0.5em; 
                  margin: 2em 0em 2em 0em;}

.funcsynopsis {
                  border: 1px solid #B2DBFF; 
                  background-color: #F0F8FF; 
                  padding: 0.5em 0.5em 0.5em 0.5em; 
                  margin: 2em 0em 2em 0em;}

tt.prompt { color: #000080; }
tt.function { font-weight: bold; }
tt.userinput { font-weight: bold; }

.important .programlisting { font-family: "Courier New"; font-size: 1em; border: 1px solid #B2DBFF; background-color: #F0F8FF; padding: 0.5em 0.5em 0.5em 0.5em; margin: 2em 0em 2em 0em;}

.important .screen { font-family: "Courier New"; font-size: 1em; border: 1px solid #999999; background-color: #EBEBEB; padding: 0.5em 0.5em 0.5em 0.5em; margin: 2em 0em 2em 0em;}

.informalexample { font-family: "Courier New"; font-size: 0.8em; border: 1px solid #B2DBFF; background-color: #F0F8FF; padding: 0.5em 0.5em 0.5em 0.5em; margin: 2em 0em 2em 0em;}

p.validator     { text-align: right; }
