body {font-family:Verdana, Arial, Sans Serif; }
h2 { text-align:center; }
table {width:100%;}
table.add {width:70%;}
div.section {background-color:#FFFFCC;
     border:1pt black solid;
     margin-bottom:2em; 
     padding:0.5em;}
div.sectitle {	background-color:#FFFF99; 
        color:#019;
        border:1pt black solid;
        width:20%;
        font-weight:bold;}
tr.ligne1 { background-color:#FFFFEE; }
tr.ligne2 { background-color:#FFFFAA; }


