[Desktop Entry]
Name=VLC for GNOME
Name[fr]=VLC pour GNOME
Comment=GNOME media player
Comment[fr]=Lecteur multimédia pour GNOME
Exec=gnome-vlc
Icon=gnome-vlc.png
Terminal=0
Type=Application
