[Desktop Entry]
Name=Gtk+ VideoLAN Client
Name[fr]=Client VideoLAN pour Gtk+
Comment=Gtk+ DVD and MPEG player
Comment[fr]=Lecteur de DVD et MPEG pour Gtk+
Exec=gvlc
Icon=gvlc.png
Terminal=0
Type=Application
