extended/ui_equalizer.h
extended/ui_video_effects.h
fingerprint/ui_fingerprintdialog.h
help/ui_about.h
help/ui_update.h
open/ui_open.h
open/ui_open_capture.h
open/ui_open_disk.h
open/ui_open_file.h
open/ui_open_net.h
podcast/ui_podcast_configuration.h
messages/ui_messages_panel.h
preferences/ui_sprefs_audio.h
preferences/ui_sprefs_input.h
preferences/ui_sprefs_interface.h
preferences/ui_sprefs_medialibrary.h
preferences/ui_sprefs_subtitles.h
preferences/ui_sprefs_video.h
sout/ui_profiles.h
sout/ui_sout.h
vlm/ui_vlm.h
