[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PhononBackend
MimeType=application/x-annodex;video/quicktime;video/x-quicktime;audio/x-m4a;application/x-quicktimeplayer;video/mkv;video/msvideo;video/x-msvideo;video/x-flic;audio/x-aiff;audio/aiff;audio/x-pn-aiff;audio/x-realaudio;audio/basic;audio/x-basic;audio/x-pn-au;audio/x-8svx;audio/8svx;audio/x-16sv;audio/168sv;image/x-ilbm;image/ilbm;video/x-anim;video/anim;image/png;image/x-png;video/mng;video/x-mng;audio/x-ogg;audio/x-speex+ogg;application/ogg;application/ogg;audio/vnd.rn-realaudio;audio/x-pn-realaudio-plugin;audio/x-real-audio;application/vnd.rn-realmedia;video/mpeg;video/x-mpeg;audio/x-wav;audio/wav;audio/x-pn-wav;audio/x-pn-windows-acm;audio/mpeg2;audio/x-mpeg2;audio/mpeg3;audio/x-mpeg3;audio/mpeg;audio/x-mpeg;x-mpegurl;audio/x-mpegurl;audio/mp3;audio/mpeg;video/x-ms-asf;application/x-flash-video;
X-KDE-Library=phonon_vlc
X-KDE-PhononBackendInfo-InterfaceVersion=1
X-KDE-PhononBackendInfo-Version=0.1
X-KDE-PhononBackendInfo-Website=http://www.videolan.org/
Icon=phonon-vlc
InitialPreference=10

Name=VLC
Name[x-test]=xxVLCxx

Comment=Phonon VLC backend
Comment[el]=Σύστημα υποστήριξης Phonon του VLC
Comment[et]=Phononi VLC taustaprogramm
Comment[fr]=Système de gestion VLC pour Phonon
Comment[ga]=Inneall VLC Phonon
Comment[gl]=Infraestrutura de VLC para Phonon
Comment[km]=កម្មវិធី​ខាងក្រោយ​របស់ Phonon VLC
Comment[nb]=Phonon VLC-motor
Comment[nds]=Phonon-Hülpprogramm VLC
Comment[nl]=VLC-backend (Phonon)
Comment[pt]=Infra-estrutura do VLC para o Phonon
Comment[pt_BR]=Infraestrutura Phonon VLC
Comment[sv]=Phonon VLC-gränssnitt
Comment[tr]=Phonon VLC arka ucu
Comment[uk]=Сервер VLC Phonon
Comment[x-test]=xxPhonon VLC backendxx
